<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p> I always dreamed of studying abroad in a any western country whether it is Canada or USA to get the best education. I completed my High School in Pakistan. Then
          I applied at Weber State University for my bachelors degree. 
          </p>
      </div>
      <div class="col-lg-4">
        <p> I like to play soccer and my favourite club is Real Madrid. In my free time I like to watch movies and hangout with my friends. 
          I wish to travel to Europe in summers to visit my uncle in Spain.
          </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download Theme
        </a>
      </div>
    </div>
  </div>
</section>
